@import "tailwindcss";

:root {
  --accent: #FF8F9C;
  --blackish: #1b1b1b;
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
}


@utility header_top_icon_wrapper {
  @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-[var(--accent)] hover:text-white;
}
