@import "tailwindcss";

:root {
  --accent: #FF8F9C;
  --blackish: #1b1b1b;
}

body {
  background-color: white;
  color: black;
  overflow-x: hidden;
}


@utility header_top_icon_wrapper {
  @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-[var(--accent)] hover:text-white;
}

@layer components {
  .navbar_link {
    position: relative;
    cursor: pointer;
    transition: color 0.4s;
  }

  .navbar_link:hover {
    color: #ff8f9c;
  }

  .navbar_link::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
  }

  .navbar_link:hover::after {
    transform: scaleX(1);
  }
}
